<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
    <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">

    <!-- Scripts -->
    <script th:src="@{/resources/libs/jquery.js}"></script>
    <script th:src="@{/resources/libs/material-kit.js}"></script>
    <script th:src="@{/resources/libs/popper.js}"></script>
    <script th:src="@{/resources/libs/material-design.js}"></script>
    <script th:src="@{/resources/libs/bootstrap.bundle.min.js}"></script>
</head>
<body class="bg index-page sidebar-collapse">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <br />
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="name">
                                <h2 th:text="${organization.name}">Organization name</h2>
                            </div>
                            <div class="avatar avatar-wrapper">
                                <img class="profile-pic" src="../../resources/images/default.png"
                                     th:src="${organization.avatar}" alt=""/>
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input id="avatar-upload" class="file-upload" type="file" accept="image/*"/>
                            </div>
                            <h5 id="error" hidden="hidden" style="color: red;" th:text="#{profile.avatar.error}">Поврежденное изображение или слишком большой размер</h5>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:inline="javascript">
    let organizationEntityName = /*[[${organization.name}]]*/ '';
    let organizationEntityAdminId = /*[[${organization.adminId}]]*/ '';
    let userId = /*[[${session_user_id}]]*/ 0;
</script>

<script th:src="@{/resources/js/organization/organization.js}"></script>

</body>
</html>