<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}" rel="stylesheet"></script>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <hr />
        <input type="button" onclick="window.location='/lk/profile'+window.location.search;"
               id="profile" class="btn btn-primary" value="Профиль" th:value="#{profile.profile}" />

        <button id="friends" type="button"
                class="btn dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false"
                th:value="#{profile.friends}">
            Друзья
        </button>
        <ul class="dropdown-menu" aria-labelledby="friends">
            <li><a class="dropdown-item" href="#"
                   onclick="window.location='/lk/profile/friends'+window.location.search;"
                   th:text="#{profile.friends} + ' (' + ${amounts.friendsCount} +')'">Друзья</a></li>
            <li><a class="dropdown-item" href="#"
                   onclick="window.location='/lk/profile/followers'+window.location.search;"
                   th:text="#{profile.followers} + ' (' + ${amounts.followersCount} +')'">Подписчики</a></li>
            <li><a class="dropdown-item" href="#"
                   onclick="window.location='/lk/profile/following'+window.location.search;"
                   th:text="#{profile.following} + ' (' + ${amounts.followingCount} +')'">Подписки</a></li>
        </ul>

        <input type="button" onclick="window.location='/lk/profile/courses'+window.location.search;"
               id="courses" class="btn" value="Завершенные курсы"
               th:value="#{profile.courses.completed} + ' (' + ${amounts.completedCoursesCount} +')'" />
        <input type="button" onclick="window.location='/lk/profile/organizations'+window.location.search;"
               id="organizations" class="btn" value="Организации"
               th:value="#{profile.organizations} + ' (' + ${amounts.organizationsCount} +')'" />
        <input type="button" onclick="window.location='/lk/profile/balance';"
               id="balance" class="btn" value="Баланс" th:value="#{profile.balance}" />
        <hr />
        <br />
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="name">
                                <h2 th:text="${user.username}">Username</h2>
                            </div>
                            <div class="avatar avatar-wrapper">
                                <img class="profile-pic" src="../../resources/images/default.png"
                                th:src="${user.avatar}" alt=""/>
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input id="avatar-upload" class="file-upload" type="file" accept="image/*"/>
                            </div>
                            <h5 id="error" hidden="hidden" style="color: red;" th:text="#{profile.avatar.error}">Поврежденное изображение или слишком большой размер</h5>
                            <br />

                            <!-- Last login -->
                            <div class="created-on">
                                <h6 th:text="#{profile.last_login}">Last login</h6>
                                <h6 th:text="${T(ru.mralexeimk.yedom.utils.CommonUtils).calculateTimeLoginAgo(user.lastLogin)}"></h6>
                            </div>

                            <!-- Created on -->
                            <div class="last-login">
                                <h6 th:text="#{profile.created_on}">Created on</h6>
                                <h6 th:text="${T(ru.mralexeimk.yedom.utils.CommonUtils).getCreatedOnDate(user.createdOn)}"></h6>
                            </div>

                            <!-- Add to friends -->
                            <div class="add-to-friends" id="add_friend">
                                <input type="button" onclick="follow()"
                                       class="btn" th:classappend="${btn_properties.second}" value="Подписаться"
                                       th:value="${btn_properties.first}" />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script th:inline="javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const urlUsername = urlParams.get('username');

    // Another profile
    if(urlUsername != null) {
        $('#balance').hide();
        $('#avatar-upload').attr('disabled', 'disabled');
        $('.avatar-wrapper').css('cursor', 'default');
    }
    // Our profile
    else {
        $('#add_friend').hide();
    }

    function follow() {
        fetch("/lk/profile/follow" + window.location.search, {
            method: 'POST'
        }).then(response => {
            if(response.ok) {
                window.location.reload();
            }
        });
    }

    function uploadAvatar(baseImg) {
        let data = {baseImg: baseImg};
        fetch("/lk/profile/uploadAvatar", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then(response => {
            if(response.ok) {
                window.location.reload();
                $('#error').attr('hidden', 'hidden');
            }
            else {
                $('#error').removeAttr('hidden');
            }
        });
    }

    $(document).ready(function() {
        let readURL = function(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function () {
                    uploadAvatar(reader.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function(){
            readURL(this);
        });

        $(".upload-button").on('click', function() {
            $(".file-upload").click();
        });
    });
</script>
</body>
</html>