h1, h2, h3, h4, h5 {
    display: inline !important;
}
.collapsible, .collapsible-dis {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content-collapse {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
#addModule, #addLesson {
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all .2s ease-in-out;
}
.add-icon {
    font-size: 30px;
    vertical-align: middle;
}
#last-module > #addModule, #last-module > #addLesson {
    text-align: center;
}
.add-icon, .save-icon, .delete-icon {
    padding-top: 10px;
}
.add-module {
    width: 95%;
    align-content: center;
}
#last {
    padding-bottom: 5px;
    padding-top: 5px;
}
#addModule:hover {
    color: green;
}
#addLesson:hover {
    color: green;
}