body {
    text-align: center;
    position: relative;
    width: 100%;
}
.header-container {
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}
.footer-container {
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 1920px;
}
.banner {
    width: 100%;
    height: 100%;
}
.banner1 {
    width: 140px;
    height: 45px;
}
.profile-label {
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
}
#particles-container {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    position: absolute;
    user-select: none;
}
.main-button {
    width: 70%;
    font-size: 25px !important;
    background-color: #3a8d08 !important;;
    font-family: Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    border: 1px solid transparent !important;
}
.main-button-big {
    width: 100%;
    height: 100%;
    font-size: 50px;
}
.main-button:hover {
    background-color: #39843c !important;;
    border: 1px solid gold !important;
}
.over-particles {
    z-index: 3;
}
.copyright {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.navbar-scroll {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar-scroll.scrolled {
    color: #0a6ebd;
}
form {
    display: inline-block;
}
.col {
    flex: 0 0 auto;
    width: 33.33%;
}
.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1b1e21;
}
.errors {
    width: 80%;
}
.expanded-form form {
    width: 90%;
}
.textarea-add {
    width: 100%;
}
#tagsToAdd span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
#tagsToAdd span:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}
div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}
.title-img {
    width: 50%;
}
.title-img p {
    font-size: 120px;
    opacity: .9;
}
.hot-bar {
    font-size: 17px;
    color: rgb(10,88,202);
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100%;
}
.content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}
.stats {
    margin-left: auto;
    margin-right: 0;
}
.perspective {
    display: block;
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    background-size: 100%;
    background-repeat: no-repeat;
}
.perspective:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgba(0,0,0, 0.6);
}
.courseImg:hover {
    cursor: pointer;
}
.footer {
    background-color: #a6eae4;
    width: 100%;
    padding: 0;
}
footer {
    padding: 0.9375rem 0;
    text-align: center;
}
.index-page .page-header {
    height: 93vh
}
header {
    width: 100%;
}
.nav-link {
    color: green;
    font-size: 30px;
    cursor: pointer;
}
.dropdown-menu {
    cursor: pointer;
}
input[type=text], input[type=password], textarea {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 6px;
}
#search {
    width: 100%;
    height: 50px;
    font-size: 20px;
}
#textarea-about {
    width: 100%;
}
.link-href {
    color: blue;
}
.centered-icon {
    vertical-align: middle;
    margin-bottom: 5px;
}
.centered-icon:hover {
    cursor: pointer;
}
input[type=submit]{
    padding: 7px;
    background: #3a8d08;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    color: white;
}
.avatar {
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
}
.avatar-wrapper, .avatar-course {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
}
.avatar-wrapper {
    border-radius: 50%;
}
.avatar-course {
    width: 300px;
}
.avatar-wrapper:hover, .avatar-course:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.avatar-wrapper:hover .profile-pic, .avatar-course:hover .profile-pic {
    opacity: .5;
}
.profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}
.profile-pic:after {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    content: "\f007";
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}
.profile-username {
    margin: -120px auto;
    color: red;
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.upload-button .fa-arrow-circle-up:hover {
    opacity: .9;
}
a:active, a:hover, a {
    text-decoration: none;
    color: #1b1e21;
}
.btn-green {
    background-color: #3a8d08 !important;
}
.btn-red {
    background-color: #a60000 !important;
}
.btn {
    background-color: darkgray;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: white;
}
.btn-primary {
    background-color: darkgray !important;
    border: 4px solid black !important;
}
.pre-scrollable {
    max-height: 500px;
    overflow-y: scroll;
}
.clickable-tr:hover {
    cursor: pointer;
    background-color: lime;
}
.clickable-tr {
    background-color: white;
    border: 2px solid black;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.selectable {
    -webkit-touch-callout: unset; /* iOS Safari */
    -webkit-user-select: text;   /* Chrome/Safari/Opera */
    -khtml-user-select: text;    /* Konqueror */
    -moz-user-select: text;      /* Firefox */
    -ms-user-select: text;       /* Internet Explorer/Edge */
    user-select: text;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.navbar.navbar-transparent {
    padding-top: 0;
}
.nav {
    color: #3a8d08;
}
#player {
    width: 100%;
    height: 640px;
}
#logo {
    position: absolute;
    margin-top: 8%;
    margin-left: 15%;
    z-index: 3;
}
@media only screen and (max-width: 600px) {
    .title-img {
        width: 100%;
    }
    header {
        position: relative !important;
    }
    #player {
        height: 320px;
    }
    #logo {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 370px) {
    .copyright {
        width: 100%;
        float: unset !important;
    }
}