<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>
    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../../resources/js/common.js" th:src="@{/resources/js/common.js}" rel="stylesheet"></script>
</head>
<body class="index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main main-raised col-md-4 mx-auto text-center section">
        <div class="container">
            <form id="form" action="/account" method="POST" th:method="POST" th:action="@{/account}" th:object="${user}">
                <!-- Username -->
                <br />
                <label th:value="#{auth.username}" for="username">Ник</label>
                <br />
                <input th:field="*{username}" id="username" name="username" type="text" th:value="${user.username}" value="Username" />
                <br />
                <br />

                <!-- Email -->
                <label th:value="#{auth.email}" for="email">Email</label>
                <br />
                <input disabled="disabled" style="border: none; color: gray; text-align: center; width: auto" value="email" th:value="${user.email}" id="email" name="email" />
                <input th:field="*{email}" hidden="hidden" value="email" th:value="${user.email}" />
                <br />
                <br />

                <!-- Role -->
                <label th:value="#{auth.lk.role}" for="role">Роль</label>
                <br />
                <input disabled="disabled" style="border: none; color: gray; text-align: center;" value="user" th:value="${user.role}" id="role" name="role" />
                <input th:field="*{role}" hidden="hidden" value="user" th:value="${user.role}" />
                <br />
                <br />

                <!-- New password -->
                <label th:value="#{auth.lk.new_password.change}" for="password">Новый пароль</label>
                <br />
                <input th:field="*{newPassword}" th:placeholder="#{auth.lk.new_password.change}" type="password" id="newPassword" name="newPassword" />
                <br />
                <br />
                <input th:field="*{newPasswordRepeat}" th:placeholder="#{auth.lk.new_password.change.repeat}" type="password" id="newPasswordRepeat" name="newPasswordRepeat" />
                <br />
                <br />

                <!-- Password -->
                <label th:value="#{auth.password}" for="role">Ваш пароль</label>
                <br />
                <input type="text" th:field="*{password}" th:placeholder="#{auth.password}" id="password" name="password" />
                <br />
                <br />

                <!-- Buttons -->
                <input type="submit" name="edit" th:name="edit" value="Сохранить" th:value="#{auth.lk.save}"/>
                <br />
                <br />
                <input type="submit" name="log_out" th:name="log_out" value="Выйти" th:value="#{auth.lk.log_out}"/>
                <br />
                <br />
            </form>

            <!-- Errors -->
            <div class="errors container" th:if="${#fields.hasErrors('user.*')}">
                <h4 th:text="#{common.errors}">Errors:</h4>
                <ul>
                    <li style="color: red;" th:each="err : ${#fields.errors('user.*')}" th:text="${err}" />
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script th:inline="javascript">
    let role = $('#role');

    if(role.val() === 'user') {
        role.val([[#{auth.lk.user}]]);
    }
    else if(role.val() === 'moderator') {
        role.css('color', 'green');
        role.val([[#{auth.lk.moderator}]]);
    } else if(role.val() === 'admin') {
        role.css('color', 'red');
        role.val([[#{auth.lk.admin}]]);
    }

    let navbar = $('.navbar-scroll');

    if(navbar.length > 0){
        $(window).on("scroll load resize", function() {
            checkScroll(navbar);
        });
    }
</script>
</body>
</html>