<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>
  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="../../resources/css/libs/material-kit.css" th:href="@{/resources/css/libs/material-kit.css}">
  <link rel="stylesheet" href="../../resources/css/tools/common.css" th:href="@{/resources/css/tools/common.css}">
  <link rel="stylesheet" href="../../resources/css/libs/icons.css" th:href="@{/resources/css/libs/icons.css}">

  <!-- Scripts -->
  <script src="../../resources/js/libs/jquery.js" th:src="@{/resources/js/libs/jquery.js}"></script>
  <script src="../../resources/js/libs/material-kit.js" th:src="@{/resources/js/libs/material-kit.js}"></script>
  <script src="../../resources/js/libs/particles.js" th:src="@{/resources/js/libs/particles.js}"></script>
  <script src="../../resources/js/libs/popper.js" th:src="@{/resources/js/libs/popper.js}"></script>
  <script src="../../resources/js/libs/material-design.js" th:src="@{/resources/js/libs/material-design.js}"></script>
  <script src="../../resources/js/libs/w3.js" th:src="@{/resources/js/libs/w3.js}"></script>
  <script src="../../resources/js/tools/common.js" th:src="@{/resources/js/tools/common.js}"></script>
</head>
<body class="index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="bg">
  <div class="main main-raised col-md-4 mx-auto text-center section">
    <form th:method="POST" th:action="@{/auth/confirm}" th:object="${code}">
      <p th:text="#{auth.code.sent}">Код отправлен на почту </p>
      <label th:for="value" th:text="#{auth.received_code}">Полученный код</label>:  <br/>
      <input type="text" th:field="*{code}" id="value"/>
      <div style="color:red" th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Code Error</div>
      <br />
      <br />
      <input type="submit" value="Подтвердить" th:value="#{auth.confirm}"/>
      <br />
    </form>
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
  w3.includeHTML();

  particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
    console.log('particles-js loaded!');
  });
</script>
</body>
</html>