<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>
  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">
  <link rel="stylesheet" th:href="@{/resources/css/common.css}">

  <!-- Scripts -->
  <script th:src="@{/resources/libs/jquery.js}"></script>
  <script th:src="@{/resources/libs/particles.js}"></script>
  <script th:src="@{/resources/libs/material-kit.js}"></script>
  <script th:src="@{/resources/libs/popper.js}"></script>
  <script th:src="@{/resources/libs/material-design.js}"></script>
</head>
<body class="index-page sidebar-collapse">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div id="particles-container"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="bg">
  <div class="main main-raised col-md-4 mx-auto text-center section">
    <input id="email" name="email" type="text" placeholder="email" />
    <br />
    <br />
    <p id="label" hidden="hidden" style="color: green;" th:text="#{auth.password.restore.sent}"></p>
    <br />
    <p id="error" style="color:red"></p>
    <input id="restore" onclick="clickRestore()" name="restore" type="submit" value="Восстановить пароль"
           th:value="#{auth.password.restore}"/>
    <br />
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:inline="javascript">
  let incorrectEmail = /*[[#{auth.email.incorrect}]]*/ '';
</script>

<script th:src="@{/resources/js/auth/restore.js}"></script>

<script>
  particlesJS.load('particles-container', '../resources/assets/particles.json', function () {
    console.log('particles-js loaded!');
  });
</script>

</body>
</html>