<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>

  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
  <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
  <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">
  <link rel="stylesheet" href="../../resources/css/collapse.css" th:href="@{/resources/css/collapse.css}">
  <link rel="stylesheet" href="../../resources/css/mediaelementplayer.min.css" th:href="@{/resources/css/mediaelementplayer.min.css}">

  <!-- Scripts -->
  <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
  <script src="../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
  <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
  <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
  <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
  <script th:inline="javascript" src="../../resources/js/modules.js" th:src="@{/resources/js/modules.js}" rel="stylesheet"></script>
  <script src="../../resources/js/mediaelement-and-player.min.js" th:src="@{/resources/js/mediaelement-and-player.min.js}"></script>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div th:fragment="modules-fragment" class="col-5 col-sm-3">
      <div class="col-md-12 bg unselectable">
        <div class="main mx-auto text-center" id="modules-container">
          <!-- Modules from modules.html updated by modules.js -->
          <script th:inline="javascript">
            let hash = /*[[${course.hash}]]*/ '';
            let activeIDS = new Set(/*[[${activeModules}]]*/ []);
            let placeholderModule = /*[[${@languageUtil.getLocalizedMessage('constructor.module.add.name')}]]*/ 'Название модуля';
            let placeholderLesson = /*[[${@languageUtil.getLocalizedMessage('constructor.lesson.add.name')}]]*/ 'Название урока';
            let MODULE_ID = /*[[${moduleId}]]*/ -1;
            let LESSON_ID = /*[[${lessonId}]]*/ -1;
            updateModules();
          </script>
        </div>
      </div>
    </div>
    <div class="col-7 col-sm-8 bg unselectable">
      <div class="main mx-auto text-center">
        <div th:replace="../resources/common/draftcoursesmenus.html :: draftcourse-fragment" w3-include-html="../../resources/common/draftcoursesmenus.html"></div>
        <br />

        <!-- Upload video button -->
        <input style="display:none;" type="file" id="upload-video" name="upload-video"
               class="btn main-button" accept="video/*" />
        <label for="upload-video" id="upload-video-label" type="submit" class="btn main-button"
               th:value="#{constructor.upload_video}">Загрузить видео</label>
        <br />
        <h5 id="error" hidden="hidden" style="color: red;" th:text="#{constructor.upload.error}">Ошибка загрузки видео-файла</h5>
        <br />
        <br />
        <br />

        <!-- MediaElementJS video player -->
        <div class="mx-auto" style="width: 80%; height: 80%;">
          <video id="player" width="100%" height="100%" preload="metadata">
            <source type="video/mp4" src="../../resources/videos/example.mp4"
                th:src="'/constructor/' + ${course.hash} + '/' + ${moduleId} + '/' + ${lessonId} + '/video'" />
          </video>
        </div>

        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script th:inline="javascript">
  let upload = /*[[#{constructor.upload_video}]]*/ 'Загрузить видео';
  let uploading = /*[[#{constructor.uploading}]]*/ 'Загрузка...';

  w3.includeHTML();

  // MediaElementJS video player with full screen icon
  $('video').mediaelementplayer({
    alwaysShowControls: true,
    features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
    videoVolume: 'horizontal',
    audioWidth: 400,
    audioHeight: 30,
    startVolume: 0.8,
    toggleCaptionsButtonWhenOnlyOne: true,
    iconSprite: /*[[@{/resources/svg/mejs-controls.svg}]]*/ '../../resources/svg/mejs-controls.svg'
  });

  /**
   * Upload video by post request with fetch
   */
  function uploadVideo() {
    $('#upload-video-label').text(uploading);

    fetch('/constructor/' + hash + '/' + MODULE_ID + '/' + LESSON_ID, {
      method: 'POST',
      body: $('#upload-video')[0].files[0]
    }).then(response => {
      if (response.ok) {
        window.location.reload();
      } else {
        $('#error').removeAttr('hidden');
        $('#upload-video-label').text(upload);
      }
    });
  }

  $(document).ready(function() {
    let readURL = function(input) {
      if (input.files && input.files[0]) {
        let reader = new FileReader();

        reader.onload = function () {
          uploadVideo();
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#upload-video").on('click', function() {
      readURL(this);
    });

    $("#upload-video").on('change', function() {
      readURL(this);
    });
  });
</script>
</body>
</html>