<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>

  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/collapse.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/mediaelementplayer.min.css}">
  <link rel="stylesheet" th:href="@{/resources/css/common.css}">

  <!-- Scripts -->
  <script th:src="@{/resources/libs/jquery.js}"></script>
  <script th:src="@{/resources/libs/material-kit.js}"></script>
  <script th:src="@{/resources/libs/popper.js}"></script>
  <script th:src="@{/resources/libs/material-design.js}"></script>
  <script th:src="@{/resources/libs/mediaelement-and-player.min.js}"></script>
  <script th:src="@{/resources/js/tools/modulesConstructor.js}"></script>

  <style>
    .mejs__cannotplay {
      display: none;
    }
  </style>
</head>
<body class="bg index-page sidebar-collapse">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div th:fragment="modules-fragment" class="col-5 col-sm-3">
      <div class="col-md-12 bg unselectable">
        <div class="main mx-auto text-center" id="modules-container">
          <!-- Modules from modules.html updated by modulesConstructor.js -->
          <script th:inline="javascript">
            let hash = /*[[${course.hash}]]*/ '';
            let activeIDS = new Set(/*[[${activeModules}]]*/ []);
            let placeholderModule = /*[[${@languageUtil.getLocalizedMessage('constructor.module.add.name')}]]*/ 'Название модуля';
            let placeholderLesson = /*[[${@languageUtil.getLocalizedMessage('constructor.lesson.add.name')}]]*/ 'Название урока';
            let MODULE_ID = /*[[${moduleId}]]*/ -1;
            let LESSON_ID = /*[[${lessonId}]]*/ -1;
            updateModules();
          </script>
        </div>
      </div>
    </div>
    <div class="col-7 col-sm-8 bg unselectable">
      <div class="main mx-auto text-center">
        <div th:replace="../resources/components/draftcoursesmenus.html :: draftcourse-fragment"></div>
        <br />

        <!-- Upload video button -->
        <input style="display:none;" type="file" id="upload-video" name="upload-video"
               class="btn main-button" accept="video/*" />
        <label for="upload-video" id="upload-video-label" type="submit" class="btn main-button"
               th:value="#{constructor.upload_video}">Загрузить видео</label>
        <br />
        <h5 id="error" hidden="hidden" style="color: red;" th:text="#{constructor.upload.error}">Ошибка загрузки видео-файла</h5>
        <br />

        <!-- MediaElementJS video player -->
        <div class="mx-auto" style="width: 80%; height: 80%;">
          <video id="player" width="100%" height="100%" preload="metadata">
            <source type="video/mp4" src="../../resources/videos/example.mp4"
                th:src="'/constructor/' + ${course.hash} + '/' + ${moduleId} + '/' + ${lessonId} + '/video'" />
          </video>
        </div>

        <br />
        <progress id="progressBar" hidden="hidden"
                  style="width: 50%; height: 20px;" max="100"></progress>
        <br />
      </div>
    </div>
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:inline="javascript">
  let iconPath = /*[[@{/resources/svg/mejs-controls.svg}]]*/ '../../resources/svg/mejs-controls.svg';
  let upload = /*[[#{constructor.upload_video}]]*/ 'Загрузить видео';
  let uploading = /*[[#{constructor.uploading}]]*/ 'Загрузка...';
</script>

<script th:src="@{/resources/js/constructor/lesson.js}"></script>

</body>
</html>