<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>

  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">
  <link rel="stylesheet" th:href="@{/resources/libs/collapse.css}">
  <link rel="stylesheet" th:href="@{/resources/css/common.css}">

  <!-- Scripts -->
  <script th:src="@{/resources/libs/jquery.js}"></script>
  <script th:src="@{/resources/libs/material-kit.js}"></script>
  <script th:src="@{/resources/libs/popper.js}"></script>
  <script th:src="@{/resources/libs/material-design.js}"></script>
  <script th:src="@{/resources/js/tools/modulesConstructor.js}"></script>
</head>
<body class="bg index-page sidebar-collapse">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div th:fragment="modules-fragment" class="col-5 col-sm-3">
      <div class="col-md-12 bg unselectable">
        <div class="main mx-auto text-center" id="modules-container">
          <!-- Modules from modules.html updated by modulesConstructor.js -->
          <script th:inline="javascript">
            let hash = /*[[${course.hash}]]*/ '';
            let activeIDS = new Set(/*[[${activeModules}]]*/ []);
            let placeholderModule = /*[[${@languageUtil.getLocalizedMessage('constructor.module.add.name')}]]*/ 'Название модуля';
            let placeholderLesson = /*[[${@languageUtil.getLocalizedMessage('constructor.lesson.add.name')}]]*/ 'Название урока';
            updateModules();
          </script>
        </div>
      </div>
    </div>
    <div class="col-7 col-sm-8 bg unselectable">
      <div class="main mx-auto text-center">
        <div th:replace="../resources/components/draftcoursesmenus.html :: draftcourse-fragment"></div>
        <br />

        <input type="button" onclick="sendPublic()" id="moderBtn" class="btn btn-green"
               value="Отправить на проверку для публикации" th:value="#{constructor.public.button}" />
        <br />
        <br />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:inline="javascript">
  let publicRequest = /*[[${course.publicRequest}]]*/ false;
  let role = /*[[${role}]]*/ 'user';
  let cancelMsg = /*[[${@languageUtil.getLocalizedMessage('constructor.public.button.cancel')}]]*/ 'Отменить запрос на публикацию курса';
  let publicMsg = /*[[${@languageUtil.getLocalizedMessage('constructor.public')}]]*/ 'Публикация';
</script>

<script th:src="@{/resources/js/constructor/public.js}"></script>

</body>
</html>