<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/libs/material-kit.css" th:href="@{/resources/css/libs/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/tools/common.css" th:href="@{/resources/css/tools/common.css}">
    <link rel="stylesheet" href="../../resources/css/libs/icons.css" th:href="@{/resources/css/libs/icons.css}">
    <link rel="stylesheet" href="../../resources/css/libs/collapse.css" th:href="@{/resources/css/libs/collapse.css}">

    <!-- Scripts -->
    <script src="../../resources/js/libs/jquery.js" th:src="@{/resources/js/libs/jquery.js}"></script>
    <script src="../../resources/js/libs/material-kit.js" th:src="@{/resources/js/libs/material-kit.js}"></script>
    <script src="../../resources/js/libs/popper.js" th:src="@{/resources/js/libs/popper.js}"></script>
    <script src="../../resources/js/libs/material-design.js" th:src="@{/resources/js/libs/material-design.js}"></script>
    <script src="../../resources/js/libs/w3.js" th:src="@{/resources/js/libs/w3.js}"></script>
    <script src="../../resources/js/tools/modulesConstructor.js" th:src="@{/resources/js/tools/modulesConstructor.js}"></script>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="container-fluid">
    <div class="row">
        <div th:fragment="modules-fragment" class="col-5 col-sm-3">
            <div class="col-md-12 bg unselectable">
                <div class="main mx-auto text-center" id="modules-container">
                    <!-- Modules from modules.html updated by modulesConstructor.js -->
                    <script th:inline="javascript">
                        let hash = /*[[${course.hash}]]*/ '';
                        let activeIDS = new Set(/*[[${activeModules}]]*/ []);
                        let placeholderModule = /*[[${@languageUtil.getLocalizedMessage('constructor.module.add.name')}]]*/ 'Название модуля';
                        let placeholderLesson = /*[[${@languageUtil.getLocalizedMessage('constructor.lesson.add.name')}]]*/ 'Название урока';
                        updateModules();
                    </script>
                </div>
            </div>
        </div>
        <div class="col-7 col-sm-8 bg unselectable">
            <div class="main mx-auto text-center">
                <div th:replace="../resources/common/draftcoursesmenus.html :: draftcourse-fragment" w3-include-html="../../resources/common/draftcoursesmenus.html"></div>
                <input type="button" id="delBtn" onclick="deleteCourse()" class="btn btn-red"
                       value="Удалить курс" th:value="#{constructor.delete}" />

                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script th:inline="javascript">
    let deleting = /*[[#{constructor.deleting}]]*/ 'Удаление...';

    w3.includeHTML();
</script>

<script src="../../resources/js/pages/constructor/settings.js"
        th:src="@{/resources/js/pages/constructor/settings.js}"></script>

</body>
</html>