<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">
    <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">

    <!-- Scripts -->
    <script th:src="@{/resources/libs/jquery.js}"></script>
    <script th:src="@{/resources/libs/material-kit.js}"></script>
    <script th:src="@{/resources/libs/popper.js}"></script>
    <script th:src="@{/resources/libs/material-design.js}"></script>
    <script th:src="@{/resources/libs/bootstrap.bundle.min.js}"></script>
</head>
<body class="index-page sidebar-collapse bg">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <div th:replace="../resources/components/profilemenus.html :: profile-fragment"></div>

        <!-- My balance -->
        <h2 th:text="#{profile.balance} + ': ' + ${user.balance}">Баланс: 100</h2>
        <br />

    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:inline="javascript">
    let userEntityName = /*[[${user.username}]]*/ '';
    let userName = /*[[${session_username}]]*/ '';
</script>

<script th:src="@{/resources/js/profile/balance.js}"></script>

</body>
</html>