<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}" rel="stylesheet"></script>

    <style>
        * {
            box-sizing: unset !important;
        }
        .col {
            padding: 0 !important;
        }
    </style>
</head>
<body class="index-page sidebar-collapse bg">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <div th:replace="../resources/common/profilemenus.html :: profile-fragment" w3-include-html="../../resources/common/profilemenus.html"></div>

        <!-- Friends -->
        <div class="row">
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
            <div class="col col-2" th:each="user : ${users}">
                <div class="card-plain card-blog card">
                    <div class="avatar avatar-wrapper" style="width: 150px; height: 150px;">
                        <a  th:href="@{'/profile/' + ${user.username}}">
                            <img class="profile-pic" src="../../resources/images/default.png"
                                 th:src="${user.avatar}"  alt="..."/>
                        </a>
                        <h6 class="profile-username" th:text="${user.username}">Username</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script th:inline="javascript">
    let userEntityName = /*[[${user.username}]]*/ '';
    let userName = /*[[${session_username}]]*/ '';

    $('#friends').addClass('btn-primary');

    // Another profile
    if(userName !== userEntityName) {
        $('#balance').remove();
        $('#settings').remove();
    }

    function clickButton(value) {
        if(userEntityName === '') window.location = '/profile/';
        window.location = '/profile/' + userEntityName + '/' + value;
    }
</script>
</body>
</html>