<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}" rel="stylesheet"></script>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <div th:replace="../resources/common/profilemenus.html :: profile-fragment" w3-include-html="../../resources/common/profilemenus.html"></div>

        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar avatar-wrapper">
                                <img class="profile-pic" src="../../resources/images/default.png"
                                th:src="${user.avatar}" alt=""/>
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input id="avatar-upload" class="file-upload" type="file" accept="image/*"/>
                            </div>
                            <h5 id="error" hidden="hidden" style="color: red;" th:text="#{profile.avatar.error}">Поврежденное изображение или слишком большой размер</h5>
                            <br />

                            <!-- Email -->
                            <div class="email" th:if="${show_email}">
                                <h4 class="profile-label" th:text="#{auth.email}">Email</h4>
                                <h6 class="selectable" th:text="${user.email}">yedom@yedom.ru</h6>
                            </div>

                            <!-- Last login -->
                            <div class="created-on">
                                <h4 class="profile-label" th:text="#{profile.last_login}">Last login</h4>
                                <h6 th:text="${@utilsService.calculateTimeLoginAgo(user.lastLogin)}">5 hours ago</h6>
                            </div>

                            <!-- Created on -->
                            <div class="last-login">
                                <h4 class="profile-label" th:text="#{profile.created_on}">Created on</h4>
                                <h6 th:text="${@utilsService.getCreatedOnDate(user.createdOn)}">2021.03.22</h6>
                            </div>

                            <!-- Add to friends -->
                            <div class="add-to-friends" id="add_friend">
                                <input type="button" onclick="follow()"
                                       class="btn" th:classappend="${btn_properties.second}" value="Подписаться"
                                       th:value="${btn_properties.first}" />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script th:inline="javascript">
    let userEntityName = /*[[${user.username}]]*/ '';
    let userName = /*[[${session_username}]]*/ '';
    let btnClass = /*[[${btn_properties.second}]]*/ '';
    let anotherUser = false;

    $('#profile').addClass('btn-primary');

    if(btnClass === 'btn-disabled') {
        $('#add_friend').hide();
    }

    // Another profile
    if(userName !== userEntityName) {
        anotherUser = true;
        $('#balance').hide();
        $('#settings').hide();
        $('#avatar-upload').attr('disabled', 'disabled');
        $('.avatar-wrapper').css('cursor', 'default');
    }
    // Our profile
    else {
        $('#add_friend').hide();
    }

    function clickButton(value) {
        if(userEntityName === '') window.location = '/profile/';
        window.location = '/profile/' + userEntityName + '/' + value;
    }

    function follow() {
        if(userName === null) {
            window.location = '/auth/login';
            return;
        }
        fetch("/profile/follow?username="+userEntityName, {
            method: 'POST'
        }).then(response => {
            if(response.ok) {
                window.location.reload();
            }
        });
    }

    function uploadAvatar(baseImg) {
        if(anotherUser) return;
        let data = {baseImg: baseImg};
        fetch("/profile/uploadAvatar?username="+userEntityName, {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then(response => {
            if(response.ok) {
                window.location.reload();
                $('#error').attr('hidden', 'hidden');
            }
            else {
                $('#error').removeAttr('hidden');
            }
        });
    }

    $(document).ready(function() {
        let readURL = function(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function () {
                    uploadAvatar(reader.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function(){
            readURL(this);
        });

        $(".upload-button").on('click', function() {
            $(".file-upload").click();
        });
    });
</script>
</body>
</html>