<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../../resources/js/bootstrap.bundle.min.js" th:src="@{/resources/js/bootstrap.bundle.min.js}" rel="stylesheet"></script>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main main-raised col-md-6 mx-auto text-center">
        <hr />

        <input type="button" onclick="clickButton('')"
               id="profile" class="btn" value="Профиль" th:value="#{profile.profile}" />

        <button id="friends" type="button"
                class="btn dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false"
                th:value="#{profile.friends}">
            Друзья
        </button>
        <ul class="dropdown-menu" aria-labelledby="friends">
            <li><a class="dropdown-item"
                   onclick="clickButton('friends')"
                   th:text="#{profile.friends} + ' (' + ${amounts.friendsCount} +')'">Друзья</a></li>
            <li><a class="dropdown-item"
                   onclick="clickButton('followers')"
                   th:text="#{profile.followers} + ' (' + ${amounts.followersCount} +')'">Подписчики</a></li>
            <li><a class="dropdown-item"
                   onclick="clickButton('following')"
                   th:text="#{profile.following} + ' (' + ${amounts.followingCount} +')'">Подписки</a></li>
        </ul>

        <input type="button"
               onclick="clickButton('courses')"
               id="courses" class="btn" value="Завершенные курсы"
               th:value="#{profile.courses.completed} + ' (' + ${amounts.completedCoursesCount} +')'" />
        <input type="button"
               onclick="clickButton('organizations')"
               id="organizations" class="btn btn-primary" value="Организации"
               th:value="#{profile.organizations} + ' (' + ${amounts.organizationsCount} +')'" />
        <input type="button"
               onclick="clickButton('balance')"
               id="balance" class="btn" value="Баланс" th:value="#{profile.balance}" />

        <hr />
        <div id="orgCreate">
            <br />
            <input type="button" onclick="window.location='/organization/add'"
                   class="btn main-button" value="Создать организацию" th:value="#{organization.create}" />
            <br />
            <br />
        </div>

        <!-- Organizations in -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 th:text="#{profile.organizations}">Organizations</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th class="text-center" th:text="#{organization.icon}">Organization icon</th>
                                        <th class="text-center" th:text="#{organization.name}">Organization name</th>
                                        <th class="text-center" th:text="#{courses.count}">Courses count</th>
                                        <th class="text-center" th:text="#{auth.lk.role}">Role</th>
                                    </tr>
                                    <tbody>

                                    <tr class="clickable-tr" th:each="organization : ${organizations}"
                                        th:attr="onclick=|clickOrg('${organization.name}')|">
                                        <td class="text-center">
                                            <img class="img-raised rounded-circle img-fluid" src="../../resources/images/default.png"
                                                 style="width: 50px; height: 50px;"
                                                 th:src="${organization.avatar}"  alt="..."/>
                                        </td>
                                        <td class="text-center" th:text="${organization.name}">Yedom</td>
                                        <td class="text-center" th:text="${@organizationsService.getCoursesCount(organization.id)}">13</td>
                                        <td class="text-center" th:text="${@organizationsService.getUserRoleInOrganization(organization.id, user)}">Admin</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script th:inline="javascript">
    let userEntityName = /*[[${user.username}]]*/ '';
    let userName = /*[[${session_username}]]*/ '';

    // Another profile
    if(userName !== userEntityName) {
        $('#balance').hide();
        $('#orgCreate').hide();
    }

    function clickOrg(name) {
        window.location = '/organization/' + name;
    }

    function clickButton(value) {
        if(userEntityName === '') window.location = '/profile/';
        window.location = '/profile/' + userEntityName + '/' + value;
    }
</script>
</body>
</html>