<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../../resources/css/libs/material-kit.css" th:href="@{/resources/css/libs/material-kit.css}">
    <link rel="stylesheet" href="../../resources/css/tools/common.css" th:href="@{/resources/css/tools/common.css}">
    <link rel="stylesheet" href="../../resources/css/libs/icons.css" th:href="@{/resources/css/libs/icons.css}">
    <link rel="stylesheet" href="../../resources/css/libs/bootstrap-select.min.css" th:href="@{/resources/css/libs/bootstrap-select.min.css}">

    <!-- Scripts -->
    <script src="../../resources/js/libs/jquery.js" th:src="@{/resources/js/libs/jquery.js}"></script>
    <script src="../../resources/js/libs/material-kit.js" th:src="@{/resources/js/libs/material-kit.js}"></script>
    <script src="../../resources/js/libs/particles.js" th:src="@{/resources/js/libs/particles.js}"></script>
    <script src="../../resources/js/libs/popper.js" th:src="@{/resources/js/libs/popper.js}"></script>
    <script src="../../resources/js/libs/material-design.js" th:src="@{/resources/js/libs/material-design.js}"></script>
    <script src="../../resources/js/libs/w3.js" th:src="@{/resources/js/libs/w3.js}"></script>
    <script src="../../resources/js/libs/bootstrap-select.min.js" th:src="@{/resources/js/libs/bootstrap-select.min.js}"></script>
    <script src="../../resources/js/libs/bootstrap.bundle.min.js" th:src="@{/resources/js/libs/bootstrap.bundle.min.js}"></script>

    <style>
        .add-name {
            height: 25px;
            width: 20%;
        }
        .add-href {
            height: 25px;
            width: 45%;
        }
    </style>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="bg unselectable">
    <div class="main col-md-6 mx-auto text-center">
        <div th:replace="../resources/common/profilemenus.html :: profile-fragment" w3-include-html="../../resources/common/profilemenus.html"></div>

        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar avatar-wrapper">
                                <img class="profile-pic" src="../../resources/images/default.png"
                                th:src="${user.avatar}" alt=""/>
                                <div class="upload-button">
                                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                                </div>
                                <input id="avatar-upload" class="file-upload" type="file" accept="image/*"/>
                            </div>
                            <h5 id="error" hidden="hidden" style="color: red;" th:text="#{profile.avatar.error}">Поврежденное изображение или слишком большой размер</h5>
                            <br />

                            <!-- Email -->
                            <div class="email" th:if="${show_email}">
                                <h4 class="profile-label" th:text="#{auth.email}">Email</h4>
                                <h6 class="selectable" style="text-transform: none; font-size: 20px;" th:text="${user.email}">yedom@yedom.ru</h6>
                            </div>

                            <!-- Last login -->
                            <div class="created-on" th:if="${show_online}">
                                <h4 class="profile-label" th:text="#{profile.last_login}">Last login</h4>
                                <h6 th:text="${@profileService.calculateTimeLoginAgo(user.lastLogin)}">5 hours ago</h6>
                            </div>

                            <!-- Links -->
                            <div class="links-container" th:if="${relation == 'self' || (show_links && user.links.length() > 0)}">
                                <h4 class="profile-label" th:text="#{profile.links}">Links</h4>
                                <div class="links">
                                    <div class="link" th:each="link : ${@profileService.parseLinks(user.links)}" th:id="${link.first}">
                                        <a target="_blank" rel="noopener noreferrer" class="link-href"
                                           href="#" th:text="${link.first}" th:href="${link.second}">GitHub profile</a>
                                        <i th:attr="onclick=|deleteLink('${link.first}')|" class="material-icons centered-icon">delete</i>
                                    </div>
                                </div>
                                <i onclick="addLink()" id="add" class="material-icons centered-icon">add</i>
                            </div>

                            <!-- About -->
                            <div class="about" th:if="${relation == 'self' || user.about.length() > 0}">
                                <h4 class="profile-label" th:text="#{profile.about}">About me</h4>
                                <textarea maxlength="400" th:text="${user.about}" rows="7" id="textarea-about"></textarea>
                            </div>
                            <br />

                            <!-- Add to friends -->
                            <div class="add-to-friends" id="add_friend">
                                <input type="button" onclick="follow()"
                                       class="btn" value="Подписаться" />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script th:inline="javascript">
    let userEntityName = /*[[${user.username}]]*/ '';
    let userName = /*[[${session_username}]]*/ '';
    let relation = /*[[${relation}]]*/ '';

    w3.includeHTML();

    particlesJS.load('particles-container', '../../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script src="../../resources/js/pages/profile/profile.js"
        th:src="@{/resources/js/pages/profile/profile.js}"></script>

</body>
</html>