<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>

  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="../../../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
  <link rel="stylesheet" href="../../../resources/css/common.css" th:href="@{/resources/css/common.css}">
  <link rel="stylesheet" href="../../../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

  <!-- Scripts -->
  <script src="../../../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
  <script src="../../../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
  <script src="../../../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
  <script src="../../../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
  <script src="../../../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
</head>
<body class="index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<!-- Header -->
<header class="navbar fixed-top navbar-transparent">
  <div class="container-fluid unselectable header-container over-particles p-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <img class="banner1" src="../../../resources/images/home.png">
        </a>
      </li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" style="color: #3a8d08;" href="/courses">
          <i class="material-icons">list</i>
          <span th:text="#{common.courses}" class="hot-bar">Курсы</span>
        </a>
      </li>
      <li class="dropdown-menu-show nav-item">
        <a class="dropdown-toggle nav-link" style="color: #3a8d08;" href="#" data-toggle="dropdown">
          <i class="material-icons">apps</i> <span class="hot-bar" th:text="#{common.lk}">Личный кабинет</span></a>
        <div class="dropdown-menu dropdown-with-icons">
          <a href="/lk/profile" class="dropdown-item"><i class="material-icons">login</i>
            <span class="hot-bar" th:text="#{common.profile}">Мой профиль</span></a>
          <a href="/lk/account" class="dropdown-item"><i class="material-icons">account_box</i>
            <span class="hot-bar" th:text="#{common.account}">Аккаунт</span></a>
          <a href="/lk/courses" class="dropdown-item"><i class="material-icons">edit</i>
            <span class="hot-bar" th:text="#{common.my_courses}">Мои курсы</span></a>
        </div>
      </li>
    </ul>
  </div>
</header>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
</div>

<div class="bg page-header unselectable">
  <div class="main main-raised col-md-6 mx-auto text-center">
    <hr />
    <input type="button" onclick="window.location='/lk/profile'+window.location.search;"
           id="profile" class="btn" value="Профиль" th:value="#{profile.profile}" />
    <input type="button" onclick="window.location='/lk/profile/friends'+window.location.search;"
           id="friends" class="btn" value="Друзья" th:value="#{profile.friends} + ' (' + ${friends_count} +')'" />
    <input type="button" onclick="window.location='/lk/profile/courses'+window.location.search;"
           id="courses" class="btn btn-primary" value="Курсы" th:value="#{profile.courses}" />
    <input type="button" onclick="window.location='/lk/profile/organizations'+window.location.search;"
           id="organizations" class="btn" value="Организации" th:value="#{profile.organizations}" />
    <input type="button" onclick="window.location='/lk/profile/balance';"
           id="balance" class="btn" value="Баланс" th:value="#{profile.balance}" />
    <hr />
    <br />

    <div class="container pre-scrollable">
      <div class="row">
        <div class="col-md-12">

          <!-- Completed Courses -->
          <h2 th:text="#{profile.courses.completed}">Completed Courses</h2>
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center" th:text="#{course.title}">Title</th>
                    <th class="text-center" th:text="#{course.tags.title}">Tags</th>
                  </tr>
                  <tbody>
                  <tr class="clickable-tr" th:each="course : ${completed_courses}">
                    <td class="text-center">1</td>
                    <td class="text-center" th:value="${course.title}">Основы программирования на Python</td>
                    <td class="text-center" th:value="${course.tags}">программирование, python, для новичков</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Current Courses -->
          <h2 th:text="#{profile.courses.inprogress}">Current Courses</h2>
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center" th:text="#{course.title}">Title</th>
                    <th class="text-center" th:text="#{course.tags.title}">Tags</th>
                  </tr>
                  <tbody>
                  <tr class="clickable-tr" th:each="course : ${current_courses}">
                    <td class="text-center">1</td>
                    <td class="text-center" th:value="${course.title}">Основы программирования на Python</td>
                    <td class="text-center" th:value="${course.tags}">программирование, python, для новичков</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container unselectable footer-container over-particles">
    <nav class="float-left">
      <ul>
        <!-- GitHub link -->
        <li>
          <a target="_blank" rel="noopener noreferrer" href="https://github.com/Yedom">
            <i class="material-icons">code</i>
            <span th:text="#{common.developers}" class="hot-bar"> Разработчики</span></a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCC4M-40ckU4sroMTxGprBNg">
            <i class="material-icons">subscriptions</i>
            <span th:text="#{common.youtube}" class="hot-bar"> Youtube</span></a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      2022-<script>document.write(new Date().getFullYear())</script> ©
      <text th:text="#{title}">Yedom</text>
    </div>
  </div>
</footer>

<script th:inline="javascript">
  particlesJS.load('particles-container', '../../../resources/assets/particles.json', function () {
    console.log('particles-js loaded!');
  });
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  if(urlParams.get('username') != null) {
    $('#balance').hide();
  }

  function clickCourse() {

  }
</script>
</body>
</html>