<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../resources/css/icons.css" th:href="@{/resources/css/icons.css}">
    <link rel="stylesheet" href="../resources/css/interactive-cards.css" th:href="@{../resources/css/interactive-cards.css}">

    <!-- Scripts -->
    <script src="../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../resources/js/three.min.js" th:src="@{/resources/js/three.min.js}"></script>
    <script type="module" src="../resources/js/OrbitControls.js" th:src="@{/resources/js/OrbitControls.js}"></script>
    <script type="module" src="../resources/js/GLTFLoader.js" th:src="@{/resources/js/GLTFLoader.js}"></script>

    <style>
        html, body {
            height: 100%;
        }
        header {
            position: relative !important;
        }
        #model-container {
            width: 100%;
            height: 92%;
            position: relative;
        }
        .particles-js-canvas-el, #model-3d {
            width: 100% !important;
            position: absolute !important;
            display: block !important;
        }
        .bg {
            background-color: #eeeeee;
        }
        .text {
             font-family: 'Source Code Pro', monospace;
             color: #000000;
         }
        #model-3d {
            height: 100% !important;
        }
        .video {
            border: 0;
        }
        .descriptions {
            font-family: 'Source Code Pro', monospace;
        }
        .particles-js-canvas-el {
            height: 0 !important;
        }
        .btn-primary {
            background: transparent;
            border-style: none !important;
        }
        .btn-desc {
            position: absolute;
            top: 80%;
            left: 3%;
        }
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 2.0rem !important;
            }
        }
    </style>
</head>
<body class="bg">

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../resources/common/header.html"></div>

<!-- Yedom introduction/description and logo -->
<div id="logo" class="row unselectable">
    <div class="ml-auto mr-auto text-center">
        <h2 class="text" th:text="#{title}">Yedom</h2>
        <h5 class="text" th:text="#{index.description}">Yedom is a platform for online education</h5>
    </div>
</div>

<!-- 3D Model Container -->
<div id="model-container"></div>

<div class="container unselectable">
    <!-- Demonstration -->
    <div class="ml-auto mr-auto text-center">
        <h1 class="text" th:text="#{index.demo}">Demonstration</h1>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8">
            <iframe class="video" allowfullscreen="" src="https://www.youtube.com/embed/VbPC3DxAA50?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=VbPC3DxAA50&amp;controls=0"
                    width="90%" height="371"></iframe>
        </div>
        <div class="col-xl-4 col-lg-3">
            <h2 class="text">Напряги извилины</h2>
            <h5 class ="text">Ваше понимание - наша работа</h5>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <!-- Feature description -->
    <div class="features">
        <h1 class="text" style="text-align: center;" th:text="#{index.features}">Features</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-1 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-1.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_1.title}">Course Constructor</h4>
                            <p class="descriptions" th:text="#{index.f_1.desc}">Create your own course!</p>
                            <button th:text="#{index.go}" onclick="window.open('/courses/add', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-2 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-2_2.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_2.title}">Smart Search System</h4>
                            <p class="descriptions" th:text="#{index.f_2.desc}">Easy search for courses by tags system!</p>
                            <button th:text="#{index.go}" onclick="window.open('/courses', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-3 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-4_2.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_3.title}">Profile/Friends System</h4>
                            <p class="descriptions" th:text="#{index.f_3.desc}">Follow me!</p>
                            <button th:text="#{index.go}" onclick="window.open('/profile/mralexeimk', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-4 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-3_2.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_4.title}">AR</h4>
                            <p class="descriptions" th:text="#{index.f_4.desc}">Add AR technologies to your course!</p>
                            <button th:text="#{index.go}" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-5 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-5.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_5.title}">Organizations</h4>
                            <p class="descriptions" th:text="#{index.f_5.desc}">Create your organization!</p>
                            <button th:text="#{index.go}" onclick="window.open('/organization/add', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-6 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-6.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_6.title}">Profile Settings</h4>
                            <p class="descriptions" th:text="#{index.f_6.desc}">Private settings and language easy to change!</p>
                            <button th:text="#{index.go}" onclick="window.open('/profile/settings', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../resources/common/footer.html"></div>

<!-- Add 3D Model -->
<script type="module">
    let image = $('#image');

    function isTouchDevice() {
        return (('ontouchstart' in window) ||
            (navigator.maxTouchPoints > 0) ||
            (navigator.msMaxTouchPoints > 0));
    }

    image.attr('hidden', 'hidden');
    let container = document.getElementById('model-container');

    let scene = new THREE.Scene();
    let camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.5, 1000);

    let renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setClearColor(0xeeeeee);
    renderer.setSize(innerWidth, innerHeight);
    renderer.domElement.setAttribute("id", "model-3d");
    container.appendChild(renderer.domElement);

    let controls = new THREE.OrbitControls(camera, renderer.domElement);
    let x = -15;
    let y = 50;
    let z = -15;
    if($(window).width() < 800) {
        x = -35;
        z = -20;
        y = 60;
    }
    camera.position.set(x, y, z);
    controls.target.set(40, 30, 5);
    controls.enabled = false;
    controls.update();

    const aLight = new THREE.DirectionalLight(0xffffff, 1.5);
    aLight.position.set(50, 60, -40);
    scene.add(aLight, new THREE.AmbientLight(0xffffff, 0.5));

    let loader = new THREE.GLTFLoader();

    var mixer, clock;
    clock = new THREE.Clock();
    loader.load('../resources/models/yedom/yedom.gltf', function (gltf) {
        scene.add(gltf.scene);

        mixer = new THREE.AnimationMixer(gltf.scene);
        gltf.animations.forEach((clip) => {
            mixer.clipAction(clip).play();
        } );
    });

    renderer.setAnimationLoop(_ => {
        if (mixer) mixer.update(clock.getDelta());
        renderer.render(scene, camera);
    });

    container.addEventListener('mousedown', function (event) {
        event.preventDefault();
    }, false);

    let oldX = 0;
    let oldY = 0;

    if(!isTouchDevice()) {
        window.onmousemove = function (e) {
            let changeX = e.x - oldX;
            let changeY = e.y - oldY;

            camera.position.z += changeX / 200;
            camera.position.y -= changeY / 1000;

            controls.target.x += changeX / 200;
            controls.target.z -= changeX / 150;
            controls.target.y -= changeY / 1000;
            controls.update();

            oldX = e.x;
            oldY = e.y;
        }
    }

    w3.includeHTML();

    particlesJS.load('model-container', '../resources/assets/particles_home.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<script>
    window.onload = function () {
        let particles = $('.particles-js-canvas-el');
        let top = $('footer').offset().top - 50;
        particles.attr('style', 'height: ' + top + 'px !important');
        particles.attr('height', top);

        pJSDom[0].pJS.fn.particlesRefresh();
    }
</script>

</body>
</html>