<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../resources/css/material-kit.css" th:href="@{/resources/css/material-kit.css}">
    <link rel="stylesheet" href="../resources/css/common.css" th:href="@{/resources/css/common.css}">
    <link rel="stylesheet" href="../resources/css/icons.css" th:href="@{/resources/css/icons.css}">

    <!-- Scripts -->
    <script src="../resources/js/jquery.js" th:src="@{/resources/js/jquery.js}" rel="stylesheet"></script>
    <script src="../resources/js/material-kit.js" th:src="@{/resources/js/material-kit.js}" rel="stylesheet"></script>
    <script src="../resources/js/particles.js" th:src="@{/resources/js/particles.js}" rel="stylesheet"></script>
    <script src="../resources/js/popper.js" th:src="@{/resources/js/popper.js}" rel="stylesheet"></script>
    <script src="../resources/js/material-design.js" th:src="@{/resources/js/material-design.js}" rel="stylesheet"></script>
    <script src="../resources/js/w3.js" th:src="@{/resources/js/w3.js}" rel="stylesheet"></script>
    <script src="../resources/js/three.min.js" th:src="@{/resources/js/three.min.js}"></script>
    <script type="module" src="../resources/js/OrbitControls.js" th:src="@{/resources/js/OrbitControls.js}"></script>
    <script type="module" src="../resources/js/GLTFLoader.js" th:src="@{/resources/js/GLTFLoader.js}"></script>

    <style>
        html, body {
            height: 100%;
        }
        #model-container {
            width: 100%;
            height: 93%;
        }
        .particles-js-canvas-el, #model-3d {
            width: 100% !important;
            height: 100% !important;
            position: absolute !important;
            display: block !important;
        }
    </style>
</head>
<body class="index-page">

<!-- 3D Model Container -->
<div id="model-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../resources/common/header.html"></div>


<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../resources/common/footer.html"></div>

<script>
    w3.includeHTML();

    particlesJS.load('model-container', '../resources/assets/particles.json', function () {
        console.log('particles-js loaded!');
    });
</script>

<!-- Add 3D Model -->
<script type="module">
    let container = document.getElementById('model-container');

    let scene = new THREE.Scene();
    let camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.5, 1000);

    let renderer = new THREE.WebGLRenderer();
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setClearColor(0x404040);
    renderer.setSize(innerWidth, innerHeight);
    renderer.domElement.setAttribute("id", "model-3d");
    container.appendChild(renderer.domElement);

    let controls = new THREE.OrbitControls(camera, renderer.domElement);

    camera.position.set(-16, 21.8, -13.8);
    controls.target.set(40, 0, 5);
    controls.update();

    const aLight = new THREE.DirectionalLight(0xffffff, 1.5);
    aLight.position.setScalar(10);
    scene.add(aLight, new THREE.AmbientLight(0xffffff, 0.5));

    let loader = new THREE.GLTFLoader();
    let obj = null;

    loader.load('../resources/models/yedom.gltf', function(gltf) {
        obj = gltf.scene;
        scene.add(obj);
    });

    renderer.setAnimationLoop(_ => {
        renderer.render(scene, camera);
    })

    let oldX = 0;
    let oldY = 0;
    container.onmousemove = function (e) {
        let changeX = e.x - oldX;
        let changeY = e.y - oldY;
        camera.position.z += changeX / 1000;
        camera.position.y -= changeY / 1000;

        oldX = e.x;
        oldY = e.y;
    }
</script>
</body>
</html>