<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>

    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" href="../resources/css/libs/material-kit.css" th:href="@{/resources/css/libs/material-kit.css}">
    <link rel="stylesheet" href="../resources/css/tools/common.css" th:href="@{/resources/css/tools/common.css}">
    <link rel="stylesheet" href="../resources/css/libs/icons.css" th:href="@{/resources/css/libs/icons.css}">
    <link rel="stylesheet" href="../resources/css/tools/interactive-cards.css" th:href="@{/resources/css/tools/interactive-cards.css}">

    <!-- Scripts -->
    <script src="../resources/js/libs/jquery.js" th:src="@{/resources/js/libs/jquery.js}"></script>
    <script src="../resources/js/libs/material-kit.js" th:src="@{/resources/js/libs/material-kit.js}"></script>
    <script src="../resources/js/libs/particles.js" th:src="@{/resources/js/libs/particles.js}"></script>
    <script src="../resources/js/libs/popper.js" th:src="@{/resources/js/libs/popper.js}"></script>
    <script src="../resources/js/libs/material-design.js" th:src="@{/resources/js/libs/material-design.js}"></script>
    <script src="../resources/js/libs/w3.js" th:src="@{/resources/js/libs/w3.js}"></script>
    <script src="../resources/js/libs/three.min.js" th:src="@{/resources/js/libs/three.min.js}"></script>
    <script src="../resources/js/libs/OrbitControls.js" th:src="@{/resources/js/libs/OrbitControls.js}"></script>
    <script src="../resources/js/libs/GLTFLoader.js" th:src="@{/resources/js/libs/GLTFLoader.js}"></script>

    <style>
        html, body {
            height: 100%;
        }
        header {
            position: relative !important;
        }
        #model-container {
            width: 100%;
            height: 92%;
            position: relative;
        }
        .particles-js-canvas-el, #model-3d {
            width: 100% !important;
            position: absolute !important;
            display: block !important;
        }
        .bg {
            background-color: #eeeeee;
        }
        .text {
             font-family: 'Source Code Pro', monospace;
             color: #000000;
         }
        #model-3d {
            height: 100% !important;
        }
        .video {
            border: 0;
        }
        .descriptions {
            font-family: 'Source Code Pro', monospace;
        }
        .particles-js-canvas-el {
            height: 0 !important;
        }
        .btn-primary {
            background: transparent;
            border-style: none !important;
        }
        .desc-4 {
            width: 45%;
            height: 90%;
        }
        .btn-desc {
            position: absolute;
            top: 80%;
            left: 3%;
        }
        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 2.0rem !important;
            }
        }
    </style>
</head>
<body class="bg">

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../resources/common/header.html"></div>

<!-- Yedom introduction/description and logo -->
<div id="logo" hidden="hidden" class="row unselectable">
    <br />
    <div class="ml-auto mr-auto text-center logo-desc">
        <h2 class="text logo-content-name" th:text="#{title}">Yedom</h2>
        <h5 class="text logo-content" th:text="#{index.description}">Yedom is a platform for online education</h5>
    </div>
</div>

<!-- 3D Model Container -->
<div id="model-container"></div>

<div class="container unselectable">
    <!-- Demonstration -->
    <div class="ml-auto mr-auto text-center">
        <h1 class="text" th:text="#{index.demo}">Demonstration</h1>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8">
            <iframe class="video" allowfullscreen="" src="https://www.youtube.com/embed/Eeu2KcfsdA8?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=Eeu2KcfsdA8&amp;controls=0"
                    width="90%" height="371"></iframe>
        </div>
        <div class="col-xl-4 col-lg-3">
            <h2 class="text" th:text="#{index.f_0.title}">Напряги извилины</h2>
            <h5 class ="text" th:text="#{index.f_0.desc}">Ваше понимание - наша работа</h5>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <!-- Feature description -->
    <div class="features">
        <h1 class="text" style="text-align: center;" th:text="#{index.features}">Features</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-1 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-1_1.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_1.title}">Course Constructor</h4>
                            <p class="descriptions" th:text="#{index.f_1.desc}">Create your own course!</p>
                            <button th:text="#{index.go}" onclick="window.open('/courses/add', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-2 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-2_3.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_2.title}">Smart Search System</h4>
                            <p class="descriptions" th:text="#{index.f_2.desc}">Easy search for courses by tags system!</p>
                            <button th:text="#{index.go}" onclick="window.open('/courses', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-3 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-3_3.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_3.title}">Profile/Friends System</h4>
                            <p class="descriptions" th:text="#{index.f_3.desc}">Follow me!</p>
                            <button th:text="#{index.go}" onclick="window.open('/profile/mralexeimk', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-4 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-4_3.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_4.title}">AR</h4>
                            <p class="descriptions desc-4" th:text="#{index.f_4.desc}">Add AR technologies to your course!</p>
                            <button th:text="#{index.go}" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-5 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-5.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_5.title}">Organizations</h4>
                            <p class="descriptions" th:text="#{index.f_5.desc}">Create your organization!</p>
                            <button th:text="#{index.go}" onclick="window.open('/organization/add', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-6 text-white">
                        <img class="card-img w-100 d-block card" src="../resources/images/card-6.png" alt="">
                        <div class="card-img-overlay">
                            <h4 class="descriptions" th:text="#{index.f_6.title}">Profile Settings</h4>
                            <p class="descriptions" th:text="#{index.f_6.desc}">Private settings and language easy to change!</p>
                            <button th:text="#{index.go}" onclick="window.open('/profile/settings', '_blank').focus();" class="btn btn-desc btn-primary" type="button">Перейти&nbsp;
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../resources/common/footer.html"></div>

<script src="../resources/js/pages/index.js" th:src="@{/resources/js/pages/index.js}"></script>

<script>
    w3.includeHTML();

    particlesJS.load('model-container', '../resources/assets/particles_home.json', function () {
        console.log('particles-js loaded!');
    });
</script>

</body>
</html>