<div th:fragment="profile-fragment">
  <br />
  <hr />
  <div class="name">
    <h2 th:text="${user.username}">Username</h2>
  </div>
  <hr />
  <input type="button" onclick="clickButton('')"
         id="profile" class="btn" value="Профиль" th:value="#{profile.profile}" />

  <button id="friends" type="button"
          class="btn dropdown-toggle"
          data-toggle="dropdown" aria-expanded="false"
          th:text="#{profile.friends}">
    Друзья
  </button>
  <ul class="dropdown-menu" aria-labelledby="friends">
    <li><a class="dropdown-item"
           onclick="clickButton('friends')"
           th:text="#{profile.friends} + ' (' + ${amounts.friendsCount} +')'">Друзья</a></li>
    <li><a class="dropdown-item"
           onclick="clickButton('followers')"
           th:text="#{profile.followers} + ' (' + ${amounts.followersCount} +')'">Подписчики</a></li>
    <li><a class="dropdown-item"
           onclick="clickButton('following')"
           th:text="#{profile.following} + ' (' + ${amounts.followingCount} +')'">Подписки</a></li>
  </ul>

  <input type="button" th:if="${show_courses}"
         onclick="clickButton('courses')"
         id="courses" class="btn" value="Завершенные курсы"
         th:value="#{profile.courses.completed} + ' (' + ${amounts.completedCoursesCount} +')'" />
  <input type="button" th:if="${show_organizations}"
         onclick="clickButton('organizations')"
         id="organizations" class="btn" value="Организации"
         th:value="#{profile.organizations} + ' (' + ${amounts.organizationsCount} +')'" />
  <input type="button"
         onclick="clickButton('settings')"
         id="settings" class="btn" value="Настройки" th:value="#{profile.settings}" />
  <input type="button"
         onclick="clickButton('balance')"
         id="balance" class="btn" value="Баланс" th:value="#{profile.balance}" />
  <hr />
  <br />
</div>