<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Yedom</title>
    <!-- Info -->
    <meta name="description" content="Yedom education platform">
    <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{/resources/libs/material-kit.css}">
    <link rel="stylesheet" th:href="@{/resources/libs/material-icons.css}">
    <link rel="stylesheet" th:href="@{/resources/css/common.css}">

    <!-- Scripts -->
    <script th:src="@{/resources/libs/jquery.js}"></script>
    <script th:src="@{/resources/libs/material-kit.js}"></script>
    <script th:src="@{/resources/libs/popper.js}"></script>
    <script th:src="@{/resources/libs/material-design.js}"></script>
    <script th:src="@{/resources/js/tools/common.js}"></script>
</head>
<body class="index-page sidebar-collapse">

<div th:replace="../resources/components/header.html :: header-fragment"></div>

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<!-- Search -->
<section class="py-5 text-center container">
    <div class="row py-lg-8">
        <div class="col-lg-8 col-md-8 mx-auto">
            <input type="text" id="search" name="search" placeholder="Поиск курсов"
                   th:name="search" th:placeholder="#{courses.search}" />
            <br />
            <br />
            <input type="submit" onclick="clickSearch()" class="btn main-button"
                   value="Поиск" th:value="#{common.search}" />
            <br />
            <br />
            <h2 th:text="#{course.tags.popular}">Popular tags</h2>
            <div id="tagsToAdd" class="unselectable">
            </div>
            <br />
        </div>
    </div>
</section>

<!-- Courses -->
<div class="container">
    <h1 class="unselectable" th:text="#{courses.list}">Courses List</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" th:each="course : ${courses}">
            <div class="card-plain card-blog card">
                <h4 class="card-title card-content unselectable">
                    <a class="titles"  th:href="@{'/courses/' + ${course.getHash()}}"
                       th:text="${course.title}">Course Title aw awf aw awf awaf 22r1 2r1 2r 12r 12r12r12r</a>
                </h4>
                <div class="unselectable perspective card-content card-header card-header-image">
                    <a th:href="@{'/courses/' + ${course.hash}}">
                        <img class="courseImg" src="../../resources/images/screen.png"
                             th:src="@{/resources/images/screen.png}" alt="...">
                    </a>
                </div>
                <div class="card-body card-content unselectable">
                    <p class="card-description" style="height: 50%;" th:text="${course.description}">
                        Course Description aw awf aw awf awaf 22r1 2r1 2r 12r 12r12r12r
                        faw 12 r1 2r18 5h81 h81br 81b r801b 2r81b2r81b 81b 801b f801b f

                    </p>
                    <div class="card-footer unselectable">
                        <div class="author">
                            <a th:href="@{'/'+${course.creatorType}+'/' + ${course.creatorName}}">
                                <img src="../../resources/images/screen.png"
                                     th:src="${course.creatorAvatar}" alt="..." class="avatar img-raised">
                                <span class="authorName" th:text="${course.creatorName}">Author</span>
                            </a>
                        </div>
                        <div class="stats">
                            <i class="material-icons">visibility</i> <span class="views" th:text="${course.views}">145</span>
                            &nbsp;&nbsp;
                            <i class="material-icons">thumb_up</i> <span class="likes" th:text="${course.likes}">965</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="../resources/components/footer.html :: footer-fragment"></div>

<script th:src="@{/resources/js/courses/courses.js}"></script>

</body>
</html>