<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{title}">Yedom</title>

  <!-- Info -->
  <meta name="description" content="Yedom education platform">
  <meta name="keywords" content="yedom, education, platform, education platform, smart search, graphs, AR, AR technologies, online courses, courses, образовательная платформа, курсы, онлайн курсы">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Styles -->
  <link rel="stylesheet" href="../../resources/css/libs/material-kit.css" th:href="@{/resources/css/libs/material-kit.css}">
  <link rel="stylesheet" href="../../resources/css/tools/common.css" th:href="@{/resources/css/tools/common.css}">
  <link rel="stylesheet" href="../../resources/css/libs/icons.css" th:href="@{/resources/css/libs/icons.css}">
  <link rel="stylesheet" href="../../resources/css/libs/collapse.css" th:href="@{/resources/css/libs/collapse.css}">

  <!-- Scripts -->
  <script src="../../resources/js/libs/jquery.js" th:src="@{/resources/js/libs/jquery.js}"></script>
  <script src="../../resources/js/libs/material-kit.js" th:src="@{/resources/js/libs/material-kit.js}"></script>
  <script src="../../resources/js/libs/popper.js" th:src="@{/resources/js/libs/popper.js}"></script>
  <script src="../../resources/js/libs/material-design.js" th:src="@{/resources/js/libs/material-design.js}"></script>
  <script src="../../resources/js/libs/w3.js" th:src="@{/resources/js/libs/w3.js}"></script>
  <script src="../../resources/js/tools/modules.js" th:src="@{/resources/js/tools/modules.js}"></script>

  <style>
    @media only screen and (max-width: 500px) {
      .avatar-course {
        width: 95%;
        height: 120px;
      }
      .btn {
        font-size: 10px !important;
      }
    }
  </style>
</head>
<body class="bg index-page sidebar-collapse">

<!-- Particles Container -->
<div id="particles-container"></div>

<div th:replace="../resources/common/header.html :: header-fragment" w3-include-html="../../resources/common/header.html"></div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div class="container-fluid">
  <div class="row">
    <div th:fragment="modules-fragment" class="col-5 col-sm-3">
      <div class="col-md-12 bg unselectable">
        <div class="main mx-auto text-center" id="modules-container">
          <!-- Modules from modules.html updated by modules.js -->
          <script th:inline="javascript">
            let hash = /*[[${course.hash}]]*/ '';
            let activeIDS = new Set(/*[[${activeModules}]]*/ []);
            updateModules();
          </script>
        </div>
      </div>
    </div>
    <div class="col-7 col-sm-8 bg unselectable">
      <div class="main mx-auto text-center">
        <div class="container">
          <br />
          <br />
          <div class="avatar avatar-course">
            <img class="profile-pic" src="../../resources/images/screen.png"
                 th:src="${course.avatar}" alt=""/>
            <div class="upload-button">
              <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </div>
            <input disabled="disabled" id="avatar-upload" class="file-upload" type="file" accept="image/*"/>
          </div>
          <br />

          <!-- Added on -->
          <div class="added-on">
            <h4 class="profile-label" th:text="#{constructor.added_on}">Added on</h4>
            <h6 th:text="${@utilsService.timestampToDate(course.addedOn)}">18.11.2022</h6>
          </div>

          <!-- Description -->
          <div class="description">
            <h4 class="profile-label" th:text="#{course.description}">Description</h4>
            <h6 th:text="${course.description}">description</h6>
          </div>

          <!-- Tags -->
          <div class="tags">
            <h4 class="profile-label" th:text="#{course.tags.title}">Tags</h4>
            <br />
            <span class="tag" th:each="tag,index : ${course.tags.split('@')}">
                            <a target="_blank" rel="noopener noreferrer" class="link-href" href="#"
                               th:href="@{'/courses?search='+${tag}+'&tag=true'}"
                               th:text="${tag}">programming</a>
                            <span th:text="'(' + ${tagsCountCourses[index.index]} + ')'">(0)</span><span th:if="${!index.last}">, </span>
            </span>
          </div>
          <br />
        </div>
        <br />
      </div>
    </div>
  </div>
</div>

<div class="bg">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>

<div th:replace="../resources/common/footer.html :: footer-fragment" w3-include-html="../../resources/common/footer.html"></div>

<script>
  w3.includeHTML();
</script>

</body>
</html>