<!-- Header -->
<header th:fragment="header-fragment" class="navbar navbar-transparent"
  style="position: absolute;margin-bottom: unset;padding: unset;">
  <div class="container-fluid unselectable header-container over-particles p-0">
    <ul class="nav ml-5">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <img class="banner1" th:src="@{/resources/images/home.png}" alt="">
        </a>
      </li>
    </ul>
    <ul class="nav mr-lg-5">
      <li class="nav-item">
        <a class="nav-link" href="/courses">
          <i class="material-icons">list</i>
          <span th:text="#{common.courses}" class="hot-bar"></span>
        </a>
      </li>
      <li class="nav-item" th:if="${auth}">
        <a class="nav-link" href="/constructor">
          <i class="material-icons">edit</i>
          <span th:text="#{common.my_courses}" class="hot-bar"></span>
        </a>
      </li>
      <li class="nav-item" th:if="${role} != 'user'">
        <a class="nav-link" href="/courses/moderation">
          <i class="material-icons">done</i>
          <span th:text="#{common.moderation}" class="hot-bar"></span>
        </a>
      </li>
      <li class="nav-item" th:if="${!auth}">
        <a class="nav-link" href="/auth/reg">
          <i class="material-icons">app_registration</i>
          <span th:text="#{auth.sign_up}" class="hot-bar"></span>
        </a>
      </li>
      <li class="nav-item" th:if="${!auth}">
        <a class="nav-link" href="/auth/login">
          <i class="material-icons">login</i>
          <span th:text="#{auth.log_in}" class="hot-bar"></span>
        </a>
      </li>
      <li class="dropdown-menu-show nav-item" th:if="${auth}">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown">
          <i class="material-icons">apps</i>
          <span class="hot-bar" th:text="#{common.lk}"></span>
        </a>
        <div class="dropdown-menu dropdown-with-icons">
          <a href="/profile" class="dropdown-item"><i class="material-icons">account_box</i>
            <span class="hot-bar" th:text="#{common.profile}"></span></a>
          <a href="/account" class="dropdown-item"><i class="material-icons">lock</i>
            <span class="hot-bar" th:text="#{common.account}"></span></a>
        </div>
      </li>
    </ul>
  </div>
</header>